[submodule "files/device/samsung/sm7325-common"]
	path = files/device/samsung/sm7325-common
	url = https://github.com/paulowesll/android_device_samsung_sm7325-common
[submodule "files/device/samsung/m52xq"]
	path = files/device/samsung/m52xq
	url = https://github.com/paulowesll/android_device_samsung_m52xq

